# 开发环境配置
APP_NAME="Agent CA Server API"
APP_VERSION="2.0.0"
DOCS_ENABLED=false

# Uvicorn服务器配置
UVICORN_HOST=0.0.0.0                          # 服务器监听地址
UVICORN_PORT=8003                             # 服务器监听端口
UVICORN_RELOAD=false                          # 是否启用自动重载。开发环境建议设置为true，生产环境建议设置为false。
UVICORN_LOG_LEVEL=info                        # 日志级别：critical, error, warning, info, debug, trace

# 数据库配置
DATABASE_URL=postgresql://postgres@localhost:5432/agent_ca

# CA 根证书本地存储路径配置
CA_CERT_PATH=certs/ca.crt
CA_KEY_PATH=certs/ca.key

# Agent 证书 CN 所使用的域名后缀（不需要前导"点"）
AGENT_CN_DOMAIN_SUFFIX=acps.pub


# ACME_DIRECTORY_URL 是 ACME 协议的目录 URL，ACME 客户端会从这个 URL 获取 ACME 服务器的各种端点地址。
# 本项目部署完成后，需要按照实际的服务器地址进行修改此配置项。
ACME_DIRECTORY_URL=https://acps-atr-ca-server/acps-atr-v2/acme

# Agent 注册服务配置
AGENT_REGISTRY_URL=https://acps-atr-registry-server/acps-atr-v2
AGENT_REGISTRY_TIMEOUT=10

# 开发调试时，可以启用 Mock 模式，模拟相关服务。生产环境必须禁用 Mock 模式。
AGENT_REGISTRY_MOCK=false
HTTP01_VALIDATION_MOCK=false

# ATR 管理功能，不是应该公开访问的。需要做具体 IP 限制配置。逗号分隔
# 支持单个IP和CIDR网段，例如: 192.168.1.100,10.0.0.0/8,172.16.0.0/16
ATR_MGMT_ALLOW_IP_LIST=127.0.0.1,::1
